*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nimbus Sans L";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
}
#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
#nleft {
   display: flex;
   gap: 30px;
}
#nav a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
#nav #centeratag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 14vw;
    padding: 0 10vw;
    /* background-color: red; */
}
#sustain{
    width: 15vw;
}
#sustain p{
    font-size: 12px;
    margin: 8px 0;
    font-weight: 800;
    opacity: .6;
    text-transform: capitalize;
}
#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 19vw;
    /* background-color: brown; */
}
#susimagewrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#ephemeral{
    position: relative;
    min-height: 42vw;
    width: 30vw;
    /* background-color: rgb(224, 184, 184); */
}

#ephemeral #headings{
    position: absolute;
    top: -22%;
    left: -14%;
}
#ephemeral img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#ephemeral h1{
    line-height: 1;
    letter-spacing: -.3vw;
    font-size: 6vw;
    font-weight: 400;
}
#ephemeral p{
    margin-top: 20px;
    letter-spacing: -.02vw;
    font-weight: 100;
    line-height: 1.4;
    /* position: absolute; */
    font-size: 1.1vw;
    text-transform: capitalize;
    width: 45%;
    /* top: 105%; */
}
#visit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.circlev{
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    height: 3vw;
    width: 3vw;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;  
}
.circlev i{
    color: #5e5e5e;
    
}
#visit h3{
    font-weight: 400;
    color: #5e5e5e;
}
#motive{
    margin-top: 6vw;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}
#motive p{
    position: relative;
    right: 0;
    width: 90%;
    font-size: 1.9vw;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -.11vw;
    opacity: 0.9;
    text-align: right;
}
#motive span{
    display: inline-block;
    background-color: red;
    border-radius: 100px;
    margin: 0 10px;
    margin-bottom: -12px;
}
#spanone{
    width: 65px;
    height: 37px;
    background-image: url(bluegirl.jpg);
    background-position: 0 60%;
    background-size: cover;
}
#spantwo{
    width: 87px;
    height: 43px;
    background-image: url(shaljam.jpg);
    background-position: 0 48%;
    background-size: cover;
}
#spanthree{
    width: 65px;
    height: 37px;
    background-image: url(grass.jpg);
    background-position: 0 48%;
    background-size: cover;
}
#pictures{
    margin-top: 8vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}
#firstpic{
    width: 20vw;
}
#firstpic #picimg{
    width: 100%;
    height: 26vw;
    margin-bottom: 1vw;
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#firstpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2.2vw;
}
#firstpic p{
    font-size: 1vw;
    margin-top: 10px;
    opacity: .8;
    width: 90%;
}
#secondpic{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 30vw;
}
#secondpic #picimg2{
    width: 100%;
    height: 42vw;
    margin-bottom: 1vw;
}
#picimg2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#secondpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2.2vw;
}
#secondpic p{
    font-size: 1vw;
    margin-top: 10px;
    opacity: .8;
    width: 80%;
}
#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bimg{
    width: 65%;
    height: 75vh;
    /* background-color: red; */
}
#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 75%;
}
#btext{
    width: 35%;
    padding: 0 4vw;
}
#btext h1{
    font-size: 3vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.07vw;
}
#btext p{
    font-size: 1.1vw;
    margin-top: 1vw;
    opacity: .8;
    width: 70%;
}
#future{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
#future video{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    opacity: 0;
}
#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99999;
    background-color: #fff;
    padding: 1vw 3vw;
    border-radius: 10px;
}
#ftext button{
    padding: .8vw 1.7vw;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: .9vw;
    letter-spacing: -.019vw;
    font-weight: 600;
    border-radius: 100px;
    background-color: #fff;
    border: solid 1px #c6c6c6;
    color: #5e5e5e;
}